@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@font-face {
  font-family: 'Cultive Mono';
  src: url(/Cutive_Mono/CutiveMono-Regular.ttf);
}
main{
  display: grid;
  grid-template-columns: 2% 25% 5% 25% 5% 25% 2%;
  grid-template-rows: 10% 80% 10%;
  background-image: url(/img/gotham-background.jpg);
}

.container-1{
  margin: 5%;
  padding: 0 2rem;
  grid-column: 2/3;
}

.container-2{
  margin: 5%;
  padding: 0 2rem;
  top: 15%;
  grid-column: 4/5;
}

.container-3{
  margin: 5%;
  padding: 0 2rem;
  top: 15%;
  grid-column: 6/7;
}
  
  
.swiper {
  position: relative;
  width: 300px;
  height: 400px;
}

.swiper-slide {
  border-radius: 18px;
}

.swiper-slide img {
  width: 100%;
  object-fit: cover;
  border-radius: 18px;
}

.heading {
  padding-top: 3rem;
  font-size: 5ex;
  color: #0477BF;
  text-align: center;
}

.card:hover {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.back {
  background-color: rgb(30, 30, 66);
  background-repeat: no-repeat;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
  color: azure;
  font-family: 'Cultive Mono';
  position: relative;
  bottom: -3%;
  left: 3%;
  opacity: 1.0;
}

h3{
  color: black;
  position: absolute;
  left: 7.5%;
  top: 5.5%;
}

p{
  padding-left: 5%;
  color: antiquewhite;
  font-family: 'Cultive Mono';
  opacity: 1.0;
}

p li{
  position: relative;
  right: 12%;
  top: -20px;
  font-size: smaller;
  padding: 5%;
  list-style: none;
  background-color: black;
  border-radius: 1rem;
  margin-top: 1%;
}

.aquaman{
  background-image: url(/img/aquaman-back.png);
  background-size: cover;
}

.aquaman h2{
  position: relative;
  top: -4%;
}

.arrow{
  background-image: url(/img/arrow-back.png);
  background-size: cover;
}

.batman{
  background-image: url(/img/batman-back.png);
  background-size: cover;
}

.cacador{
  background-image: url(/img/cacador-back.png);
  background-size: cover;
}
.cacador h2{
  font-size: 2ch;
}

.flash{
  background-image: url(/img/flash-back.png);
  background-size: cover;
}

.maravilha{
  background-image: url(/img/maravilha-back.png);
  background-size: cover;
}

.tornado{
  background-image: url(/img/tornado-back.png);
  background-size: cover;
}
.tornado h2{
  position: relative;
  top: 2%;
}

.superman{
  background-image: url(/img/superman-back.png);
  background-size: cover;
}
.superman h2{
  position: relative;
  top: 1.5%;
}

.zatana{
  background-image: url(/img/zatana-back.png);
  background-size: cover;
}


/* BATFAMILY */

.dick{
  background-image: url(/img/dick-back.png);
  background-size: cover;
}

.jason{
  background-image: url(/img/jason-back.png);
  background-size: cover;
}

.tim{
  background-image: url(/img/tim-back.png);
  background-size: cover;
}

.damian{
  background-image: url(/img/damian-back.png);
  background-size: cover;
}

.batwoman{
  background-image: url(/img/batwoman-back.png);
  background-size: cover;
}
.batwoman h2{
  position: relative;
  top: 10%;
}
.gato{
  background-image: url(/img/gato-back.png);
  background-size: cover;
}

.stephanie{
  background-image: url(/img/stephanie-back.png);
  background-size: cover;
}

.barbara{
  background-image: url(/img/barbara-back.png);
  background-size: cover;
}


/* VILÕES */


.coringa{
  background-image: url(/img/coringa-back.png);
  background-size: cover;
}

.lex{
  background-image: url(/img/lex-back.png);
  background-size: cover;
}

.reverso{
  background-image: url(/img/reverso-back.png);
  background-size: cover;
}

.sinestro{
  background-image: url(/img/sinestro-back.png);
  background-size: cover;
}

.exterminador{
  background-image: url(/img/exterminador-back.png);
  background-size: cover;
}

.exterminador h2{
  position: relative;
  top: 10%;
}

.hera{
  background-image: url(/img/hera-back.png);
  background-size: cover;
}

.pinguim{
  background-image: url(/img/pinguim-back.png);
  background-size: cover;
}

.charada{
  background-image: url(/img/charada-back.png);
  background-size: cover;
}

.espantalho{
  background-image: url(/img/espantalho-back.png);
  background-size: cover;
}
